.container.full-width {
  max-width: none;
}

.site-header .dropzone {
  height: auto;
  margin-left: 1rem;
}

.site-main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.site-footer {
  margin-top: 1rem;
}
